alabaster==0.7.12
appdirs==1.4.3
attrs==19.3.0
Babel==2.8.0
backcall==0.1.0
bleach==3.2.0
CacheControl==0.12.6
certifi==2019.11.28
cffi==1.14.2
chardet==3.0.4
click==7.1.1
colorama==0.4.3
contextlib2==0.6.0
cryptography>=3.2
decorator==4.4.2
distlib==0.3.0
distro==1.4.0
docutils==0.16
fancycompleter==0.9.1
html5lib==1.0.1
idna==2.9
imagesize==1.2.0
intelhex==2.2.1
ipaddr==2.2.0
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.16.0
jeepney==0.4.3
Jinja2==2.11.1
keyring==21.4.0
lockfile==0.12.2
MarkupSafe==1.1.1
more-itertools==8.2.0
msgpack==0.6.2
packaging==20.3
parso==0.6.2
pdbpp==0.10.2
pep517==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.1.1
pkginfo==1.5.0.1
pluggy==0.13.1
progress==1.5
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.8.1
pycparser==2.20
Pygments==2.5.2
pyparsing==2.4.6
pyrepl==0.9.0
pytest==5.4.1
pytoml==0.1.21
pytz==2019.3
readme-renderer==26.0
requests==2.23.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
SecretStorage==3.1.2
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tqdm==4.49.0
traitlets==4.3.3
twine==3.2.0
urllib3==1.25.8
urwid==2.1.0
wcwidth==0.1.8
webencodings==0.5.1
wmctrl==0.3
