alabaster==0.7.12
Babel==2.8.0
backcall==0.1.0
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
decorator==4.4.2
-e git+https://github.com/aanastasiou/dgtools.git@144a4ef4a8b2d8fa76595b1e8563d47945a3b400#egg=dgtools
docutils==0.16
fancycompleter==0.9.1
idna==2.9
imagesize==1.2.0
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.16.0
Jinja2==2.11.1
MarkupSafe==1.1.1
packaging==20.3
parso==0.6.2
pdbpp==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==2.0.10
ptyprocess==0.6.0
Pygments==2.5.2
pyparsing==2.4.6
pyrepl==0.9.0
pytz==2019.3
requests==2.23.0
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
traitlets==4.3.3
urllib3==1.25.8
urwid==2.1.0
wcwidth==0.1.8
wmctrl==0.3
