@import url(https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap);
body{
    /*font-family:"Source Code Pro", monospace;*/
    font-family:"Courier Prime", monospace;
    font-weight:light;
    background:#EEEEEE;
    padding:0px;
    margin:0px;
}

body>article{
    width:40em;
    margin-left:auto;
    margin-right:auto;
    background:#d8d8d8;
    border:3px #d5d7d4 ridge;
    padding:0.25em;
}

body>article>header{
    text-align:center;
}

body>article>section>header>h2::before{
    content:"\25A0";
    width:2em;
    color:#ffff33;
    font-size:larger;
    vertical-align:bottom;
    padding-left:5px;
    padding-right:5px;
    background-image:linear-gradient(to bottom right,#ffff33 30%,#ffaf13);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    text-shadow:1px 1px 0 #ffaf1310;
}

body>article>section>header{
    background:#ffce00;
}

body>article>section>section>header{
    background:#e8e8e8;
    border:thin #e8e8e8 double;
}


table{
    border-collapse:collapse;
    border:thin #dddddd outset;
}

table tr th{
    text-align:right;
}

table tr:nth-child(even) th {
    background:#eeeeee;
}

table tr:nth-child(odd) th {
    background:#dddddd;
}

table tr:nth-child(even) td:not(.current_pc) {
    background:white;
}

table tr tr:nth-child(odd) td {
    background:#eeeeee;
}

.table_spec_sym{
}

.table_spec_sym tr th{
    text-align:center;
}


.table_spec_sym td{
    text-align:center;
}

.table_memory_space td{
    width:1.5em;
    height:1.3em;
    text-align:center;
}

.current_pc{
    background:#ffaf13;
    color:white;
}


