@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body{
    font-family:"Quicksand", sans-serif;
    font-weight:medium;
    padding:0px;
    margin:0px;
}

body>article{
    width:40em;
    margin-left:auto;
    margin-right:auto;
}


table tr th{
    text-align:right;
}

.table_spec_sym tr th{
    text-align:center;
}


.table_spec_sym td{
    text-align:center;
}

.table_memory_space td{
    width:1.5em;
    height:1.3em;
    text-align:center;
}

.current_pc{
    background:black;
    color:white;
}


